{% extends 'base.html.twig' %}

    {% block titre %}

        <h1>Bienvenue dans la bibliothète</h1>

    {% endblock %}


    {% block livre %}
        {% for author in authors %}
            <a href="{{ path('author_show', { 'id': author.id}) }}"><h2> {{ author.name }} {{ author.firstName }}</h2></a>
            <a href="{{ path('author_delete', { 'id': author.id}) }}"><span>Supprimer</span></a>
            <a href="{{ path('author_update', { 'id': author.id}) }}"><span>Modifier</span></a>
        {% endfor %}
    {% endblock %}