{% extends 'base.html.twig' %}

    {% block titre %}

        <h1>Ma sélection</h1>

    {% endblock %}


{% block livre %}
    <div class="couleur">
        <h2>{{ author.name }}</h2>
        <p>{{ author.firstName }}</p>
        <p> {{ author.birthDate |date('d-m-Y') }}</p>
        <p>{{ author.deathDate |date('d-m-Y') }}</p>
        <p>{{ author.biography }}</p>
    </div>
{% endblock %}

