{% extends 'base.html.twig' %}

    {% block titre %}

        <h1>Bienvenue dans la bibliothète</h1>
        <form name="search" action="{{ path('book_search') }}" method="get">
            <input type="search" name="search" />
            <input type="submit" value="Envoyer" />
        </form>

    {% endblock %}


    {% block livre %}
        {% for book in books %}
            <a href="{{ path('book_show', { 'id': book.id}) }}"><h2> {{ book.title }}</h2></a>
            <a href="{{ path('book_delete', { 'id': book.id}) }}"><span>Supprimer</span></a>
            <a href="{{ path('book_update', { 'id': book.id}) }}"><span>Modifier</span></a>
        {% endfor %}
    {% endblock %}

